{% extends 'baseHomeUser.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Registrarse</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
          }) }}
          <br>  
        {{ form_row(registrationForm.roles, {label: 'Rol'}) }} 
         
        {{ form_row(registrationForm.agreeTerms, {label: '*Acepto los términos y condiciones'})}}
            
      
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
