{% extends 'baseHomeUser.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
  
     <div class="container">
        <br>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="\CRUD_Symfony4\Archivos\carrusel_Img\carrusel1.jpg" alt="Mensaje de bienvenida">
                </div>
                <div class="carousel-item">
                <img src="\CRUD_Symfony4\Archivos\carrusel_Img\carrusel2.jpg" alt="Info Productos 1">
                </div>
                <div class="carousel-item">
                <img src="\CRUD_Symfony4\Archivos\carrusel_Img\carrusel3.jpg" alt="Info Productos 2">
                </div>
                <div class="carousel-item">
                <img src="\CRUD_Symfony4\Archivos\carrusel_Img\carrusel4.jpg" alt="Info Productos 3">
                </div>
                <div class="carousel-item">
                <img src="\CRUD_Symfony4\Archivos\carrusel_Img\carrusel5.jpg" alt="Info Productos 4">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>

        </div>
        <br>
        {% for flash_message in app.session.flashBag.get('success') %}
             <div class="alert alert-success alert-dismissible">
                 {{ flash_message }}
                 <a href="{{ path('view_cart')}}" class="badge badge-success">ver carrito</a>
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
             </div>
         {% endfor %}
        <div class="row">
            {% if articles %}
                
                {%  for article in articles %}
                    <div class ="col-3">
                            <div class ="card">
                               <img
                                title="{{article.name}}"
                                alt="Titulo" 
                                class="card-img-top" 
                                src="{{article.imagen}}" 
                                data-toggle="popover"
                                data-trigger="hover"
                                data-content="{{article.descripcion}}"
                                height ="280px"
                                >
                                
                                <div class="card-body">
                                    <span>{{article.name}}</span>
                                    <h5 class="card-title">${{article.precio | number_format(2)}}</h5>
                                    <form action="{{path('add_product', {'id' : article.id})}}" method="POST" id="agregarAlCarrito" class="fl">
                                        <div class="input-group mb-3">
                                        Cantidad:&nbsp;
                                        <input type="number" name="cantidad" id="qty_input" class="form-control form-control-sm"   value="1" min="1" max="{{ article.cantidad }}">
                                        </div>
                                        <button type="submit" class="btn btn-primary col-md-12 text-center" id="myBtnSubmit">Agregar al Carrito</button>
                                    </form>
                                </div>
                          </div>
                                      
                    <br>
                    </div>
                {% endfor %}   
            {% else %}
                <p>No hay artículos</p>
            {% endif %}
        </div>
        
    </div>    
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
     
{% endblock %}
