{% extends 'baseHomeUser.html.twig' %}

{% block title %}Tienda{% endblock %}

{% block body %}
  
     <div class="container">
        <br>
        {% for flash_message in app.session.flashBag.get('success') %}
             <div class="alert alert-success">
                 {{ flash_message }}
                 <a href="#" class="badge badge-success">ver carrito</a>
             </div>
         {% endfor %}

        <div class="row">
            {% if articles %}
         
                {%  for article in articles %}
                    <div class ="col-3">
                            <div class ="card">
                               <img
                                title="{{article.name}}"
                                alt="Titulo" 
                                class="card-img-top" 
                                src="{{article.imagen}}" 
                                data-toggle="popover"
                                data-trigger="hover"
                                data-content="{{article.descripcion}}"
                                height ="310px"
                                >
                                <div class="card-body">
                                    <span>{{article.name}}</span>
                                    <h5 class="card-title">{{article.precio}}</h5>
                                    <p class="card-text">Descripción</p>
                                    
                                    <a href="{{ path('add_product', {'id' : article.id})  }}" class="btn btn-primary">Agregar al Carrito</a>
                                   
                                    
                                </div>
                          </div>
                    </div>
 
                {% endfor %}   
            {% else %}
                <p>No hay artículos</p>
            {% endif %}
        </div>
    </div>    
    <script>
            $(function () {
            $('[data-toggle="popover"]').popover()
            })
    </script>
{% endblock %}
