{% extends 'baseHomeUser.html.twig' %}

{% block title %}Tienda{% endblock %}

{% block body %}
    <br>
    <h3>Lista del carrito</h3>
    {% if app.session.get('article')  is not empty %}
       <table class="table table-light table table-striped">
        <tbody>
            <tr>
                <th width="40%">Descripción</th>
                <th width="15%" class="text-center">Cantidad</th>
                <th width="20%" class="text-center">Precio Unidad</th>
                <th width="20%" class="text-center">Total</th>
                <th width="5%">--</th>
            </tr>
            {% set total = 0 %}
            {%  for article in app.session.get('article') %}
                <tr>
                <td width="40%">{{article.name}}</td>
                <td width="15%" class="text-center">{{ article.cantidad }}</td>
                <td width="20%" class="text-center">${{ article.precio | number_format(2)}}</td>
                <td width="20%" class="text-center">${{ (article.precio * article.cantidad) | number_format(2)}}</td>
                <td width="5%"> <a href="{{ path('delete_article_session', {'id' : article.id})  }}" class="btn btn-danger">Eliminar</a> </td>
                </tr>

                {% set total = total + (article.precio*article.cantidad) %}
            {% endfor %}   
            <tr>
                <td colspan="3"  align="right"><h3>Total</h3> </td>
                <td align="center"><h3>${{ total |number_format(2)}}</h3></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-success">
                No hay productos en el carrito...
        </div>
    {% endif %}

{% endblock %}

